@import url('https://fonts.googleapis.com/css?family=Abel');

.App {
  text-align: center;
  font-family: "Abel";
}

.App-header {
  background-color: rgba(0, 123, 255, 0.621);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.Content-page {
  background-color: rgba(0, 123, 255, 0.621);
}

.background {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  width: 100vw;
  height: 100vh;
  opacity: 0.2;
}

.Location-bar {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 95vw;
  height: 45px;
  margin-bottom: 90vh;
}
.location {
  font-size: 35px;
}

.Back-btn-desktop {
  cursor: pointer;
  position: absolute;
  margin-top: 3px;
  margin-right: 92vw;
  background: none;
  color: white;
  border: none;
  height: fit-content;
  width: fit-content;
}
.Back-btn-desktop:hover {
  transform: scale(1.1);
}
.Back-btn-mobile {
  cursor: pointer;
  position: absolute;
  margin-top: 3px;
  margin-right: 75vw;
  background: none;
  color: white;
  border: none;
  height: fit-content;
  width: fit-content;
}
.bi-arrow-left-short {
  width: 50px;
  height: 50px;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -15px;
  margin-bottom: -15px;
}