.project-thumb {
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s;
    /* Add transform transition */
    position: relative;
}

.Project-figure>figcaption {
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    padding: 50px;
}

.Project-figure>figcaption a {
    display: inline-block;
    max-height: 40px;
    overflow: hidden;
}

.Project-figure {
    border-radius: 15px;
    overflow: hidden;

    @media (prefers-color-scheme: dark) {
        background-color: navy;
    }

    @media (prefers-color-scheme: light) {
        background-color: #3273dc;
    }
}

.Project-figure:hover .project-thumb {
    opacity: 0.7;
    transform: scale(1.1);
    /* Zoom in the image slightly */
}

.Project-figure:hover .project-thumb {
    opacity: 0;
    /* Make the image invisible on hover */
}

.Project-figure:hover figcaption {
    opacity: 1;
}

.Project-figure:hover figcaption a {
    display: inline-block;
}