.project-thumb {
    opacity: 1;
    transition:
        opacity 0.3s,
        transform 0.3s;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.Project-figure>figcaption {
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    padding: 50px;
}

.Project-figure>figcaption a {
    display: inline-block;
    max-height: 40px;
    overflow: hidden;
}

.Project-figure {
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

[data-theme="dark"] .Project-figure {
    background-color: navy;
}

[data-theme="light"] .Project-figure {
    background-color: #3273dc;
}

.Project-figure:hover .project-thumb {
    opacity: 0.7;
    transform: scale(1.1);
    /* Zoom in the image slightly */
}

.Project-figure:hover .project-thumb {
    opacity: 0;
    /* Make the image invisible on hover */
}

.Project-figure:hover .product-title {
    opacity: 0;
    /* Make the title invisible on hover */
}

.Project-figure:hover figcaption {
    opacity: 1;
}

.Project-figure:hover figcaption a {
    display: inline-block;
}

.product-title {
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 8px 16px;
    border-radius: 8px;
    backdrop-filter: blur(4px);
}

.asarconnect {
    font-size: 3em;
    height: auto;
    text-shadow:
        0 0 2px #000,
        0 0 1px #000;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 10;
    text-align: center;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    backdrop-filter: none;
}

.asar {
    color: #fcc413;
}

.connect {
    color: #046bd2;
}

@media screen and (max-width: 768px) {
    .Project-figure {
        width: 90vw;
        max-width: 90vw;
        box-sizing: border-box;
    }
}