.Skills-container {
    margin-top: -200px;
}

[data-theme="dark"] .Skills-container {
    border: 0.1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

[data-theme="light"] .Skills-container {
    border: 0.1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.columns {
    margin-left: 0px;
    margin-right: 0px;
}

[data-theme="dark"] .Skills-container>.box>.content>.columns>.column {
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.25);
}

[data-theme="light"] .Skills-container>.box>.content>.columns>.column {
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.25);
}

.Bottom-column {
    padding-top: 50px;
}

[data-theme="dark"] .column-divider {
    width: 1px;
    border-right: 0.1px solid rgba(255, 255, 255, 0.25);
}

[data-theme="light"] .column-divider {
    width: 1px;
    border-right: 0.1px solid rgba(0, 0, 0, 0.25);
}

.Skills-intro-paragraph {
    min-height: 75px;
}

.Skills-paragraph {
    min-height: 50px;
}

.Skills-list {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 1023.9px) {
        min-height: 140px;
    }
}

.Skill-image {
    margin-top: 50px;
    width: 75px;
    height: 75px;
    background-color: rgba(0, 128, 128, 0.5);
    border-radius: 35%;
    padding: 15px;
}

.project-grid>.columns>.column {
    min-width: 400px;
}

.project-grid {
    display: flex;

    @media only screen and (min-width: 1200px) {
        justify-content: space-around;
        padding-bottom: 65px;
    }

    @media only screen and (max-width: 1200px) {
        flex-direction: column;
        align-items: center;
    }
}