@import url('https://fonts.googleapis.com/css?family=Abel');

.Welcome-page {
    justify-content: center;
    font-size: 25px;
}

.Welcome-heading {
    font-size: 70px;
}

.Welcome-content {
    position: absolute;
    font-weight: 800;
}

.Welcome-introduction {
    width: 400px;
    max-width: 80vw;
}

.Social-icons-desktop {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 10vh;
}
.Social-icons-mobile {
    margin-top: 100px;
}
.bi-linkedin-desktop {
    margin-bottom: 15px;
    width: 30px;
    height: 30px;
}
.bi-linkedin-desktop:hover {
    transform: scale(1.1);
}
.bi-github-desktop {
    margin-top: 15px;
    width: 30px;
    height: 30px;
}
.bi-github-desktop:hover {
    transform: scale(1.1);
}
.bi-linkedin-mobile {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}
.bi-github-mobile {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

.Proceed-button {
    margin-top: 35px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 16px;
    font-weight: 800;
    font-family: "Abel";
}
.Proceed-button:hover {
    transform: scale(1.05);
}

.Social-link {
    color: inherit;
    text-decoration: none;
}