@import url('https://fonts.googleapis.com/css?family=Abel');

.Home-content-desktop {
    display: flex;
    position: absolute;
    font-weight: 800;
    width: 95vw;
    height: 85vh;
    /* background-color: rgba(0, 0, 0, 0.117); */
    margin-top: 65px;
}

.Home-content-mobile {
    position: absolute;
    font-weight: 800;
}