@import url('https://fonts.googleapis.com/css?family=Abel');

.Welcome-page {
    font-size: 25px;
}

.Welcome-background {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    width: 100vw;
    height: 100vh;
    opacity: 0.2;
}

.Welcome-content {
    position: absolute;
    font-weight: 800;
}

.Welcome-introduction {
    width: 400px;
    max-width: 80vw;
}

.Social-icons-desktop {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 10vh;
}
.Social-icons-mobile {
    margin-top: 55px;
}
.bi-linkedin-desktop {
    margin-bottom: 15px;
    width: 30px;
    height: 30px;
}
.bi-github-desktop {
    margin-top: 15px;
    width: 30px;
    height: 30px;
}
.bi-linkedin-mobile {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}
.bi-github-mobile {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

.Proceed-button {
    margin-top: 25px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 90px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 16px;
    font-weight: 800;
    font-family: "Abel";
}