@import url('https://fonts.googleapis.com/css?family=Abel');

.App {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: "Abel";
}

.App-content {
  position: absolute;
  width: 100vw;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}

#navbar {
  padding: 30px;
}

.Up-arrow-btn {
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 9999;
  font-size: 50px;
}

@media only screen and (max-width: 1023.9px) {
  .Nav-link {
    width: 100%;
    text-align: center;
  }

  .navbar-menu {
    position: absolute;
    left: auto;
    right: 0;
  }

  @media (prefers-color-scheme: dark) {
    .navbar-menu {
      background-color: rgba(0, 0, 0, 0.9);
    }
  }

  @media (prefers-color-scheme: light) {
    .navbar-menu {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
}

.logo {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
}

.avatar {
  border-radius: 50%;
}

.hero {
  padding: 0.75rem;
}

.About-me {
  @media (prefers-color-scheme: dark) {
    background-color: navy;
  }

  @media (prefers-color-scheme: light) {
    background-color: #3273dc;
  }
}

.About-me>.container {
  padding-bottom: 150px;
}

.has-text-white-muted {
  color: white;
  opacity: .70;
}

.My-stack {
  margin-top: 100px;

  @media only screen and (min-width: 1023.9px) {
    margin-bottom: -100px;
  }
}

.My-stack::before,
.My-stack::after {
  content: "";
  display: block;
  height: 1px;
  background-color: white;
  opacity: 0.5;
  margin: 10px 0;
}

.Skills-container {
  margin-top: -200px;

  @media (prefers-color-scheme: dark) {
    border: 0.1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
  }

  @media (prefers-color-scheme: light) {
    border: 0.1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
}

.Skills-container>.box>.content>.columns>.column {
  @media (prefers-color-scheme: dark) {
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.25);
  }

  @media (prefers-color-scheme: light) {
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.25);
  }
}

.Middle-column {
  @media only screen and (min-width: 770px) {
    @media (prefers-color-scheme: dark) {
      border-right: 0.1px solid rgba(255, 255, 255, 0.25);
      border-left: 0.1px solid rgba(255, 255, 255, 0.25);
    }

    @media (prefers-color-scheme: light) {
      border-right: 0.1px solid rgba(0, 0, 0, 0.25);
      border-left: 0.1px solid rgba(0, 0, 0, 0.25);
    }
  }

  min-height: 850px;
}

.Bottom-column {
  padding-top: 50px;
}

.Skills-intro-paragraph {
  min-height: 75px;
}

.Skills-paragraph {
  min-height: 50px;
}

.Skills-list {
  min-height: 100px;
}

.Skills-list>li {
  list-style-type: none;
  padding-right: 12%;
}

.Skill-image {
  margin-top: 50px;
  width: 75px;
  height: 75px;
  background-color: rgba(0, 128, 128, 0.5);
  border-radius: 35%;
  padding: 15px;
}

.project-grid>.columns>.column {
  min-width: 400px;
}

.project-grid {
  display: flex;

  @media only screen and (min-width: 1200px) {
    justify-content: space-around;
    padding-bottom: 65px;
  }

  @media only screen and (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
  }
}

.Work-subtitle {
  padding-bottom: 65px;
}